@mixin  demo-size
{
     height: 440px;
     width: 100%;    
}
@mixin  arrow-size
{
    height: 50px;
    width: 30%;
    border-radius: 40%;
}
@mixin car-arrow
{
    height:60px;
    width: 80px;
    background-color:blue;
    border-radius: 50%;
    display: inline-block;
    margin-right: 130px;
}
@mixin pic-radius
{
   border-radius: 0px 80px 140px 0px;
}
$text-grey:grey;
$border-white:white;

img.pic1
{
    @include demo-size;
    @include pic-radius;
}
img.pic2
{
    @include demo-size;
    @include pic-radius;
}
img.pic3
{
    @include demo-size;
    @include pic-radius;
}
img.arb
{
    height: 80px;
    width: 20%;
}
span.btn
{
    @include  arrow-size;
}

 
.container-fluid.contain
{
    background-color: #1b2a4e;
    padding-right: 15px;
    padding-left: 15px;
}
.cht1
{
    height: 500px;
}

.cht2
{
    height: 400px;
}
.row.campus
{
    margin-top:70px;
}

.txt
{
    color: $text-grey;
}

.bord
{
    border: none;
}
img.performance
{
    height: 500px;
    
}
.prev
{
    @include car-arrow;
}
.next
{
    @include car-arrow;
}
 