img.pic1 {
  height: 440px;
  width: 100%;
  border-radius: 0px 80px 140px 0px;
}

img.pic2 {
  height: 440px;
  width: 100%;
  border-radius: 0px 80px 140px 0px;
}

img.pic3 {
  height: 440px;
  width: 100%;
  border-radius: 0px 80px 140px 0px;
}

img.arb {
  height: 80px;
  width: 20%;
}

span.btn {
  height: 50px;
  width: 30%;
  border-radius: 40%;
}

.container-fluid.contain {
  background-color: #1b2a4e;
  padding-right: 15px;
  padding-left: 15px;
}

.cht1 {
  height: 450px;
}

.cht2 {
  height: 400px;
}
.row.campus {
  margin-top: 70px;
  background-color:  #1b2a4e;
}

.txt {
  color: grey;
}

.bord {
  border: none;
}

img.performance {
  height: 500px;
}

.prev {
  height: 50px;
  width: 60px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
  margin-right: 130px;
}

.next {
  height: 50px;
  width: 60px;
  background-color: blue;
  border-radius: 50%;
  display: inline-block;
  margin-right: 130px;
}
/*# sourceMappingURL=newstyle.css.map */